body{
	
background: #ebe6d3 url(img/bg.jpg) repeat-x;
	
font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
	
color: #666;


}

head{
font-size: 90%;
}

header nav ul li{
color: #364e96;
border: solid 3px #364e96;
padding: 0.5em;
border-radius: 0.5em;

}


header{
position: relative;
padding: 0.6em;
background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
border-radius: 7px;
}

h1:after {
position: absolute;
content: '';
top: 100%;
left: 30px;
border: 15px solid transparent;
border-top: 15px solid #ffebbe;
width: 0;
height: 0;
}

article h1 {
position: relative;
color: #158b2b;
font-size: 15px;
padding: 10px 0;
text-align: center;
margin: 1.5em 0;

}


article h1:before {
content: "";
position: absolute;
top: -8px;
left: 50%;
width: 150px;
height: 58px;
border-radius: 50%;
border: 5px solid #a6ddb0;
border-left-color: transparent;
border-right-color: transparent;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);

}



article{

width:60%;
float:left;

}

section{

width:60%;

float:left;
}

footer{
float:left;
width:30%;
background-color:99FF99
clear all;
}