
/* --- 新着情報エリア --- */
section.update {
	width: 500px; 	/* 新着情報エリアの幅 */
	font-size: 80%;
}

/* --- 見出し --- */
section.update h2 {
	margin: 0 0 5px; /* 見出しのマージン（上、左右、下） */
	font-size: 100%;
}

/* --- 新着リスト --- */
section.update dl {
	width: 100%; /* 新着リストの幅 */
	margin: 0;
	border-top: 1px #c0c0c0 dotted; /* 新着リストの上境界線 */
}

/* --- 日付エリア --- */
section.update dt {
	width: 6.7em; /* 日付エリアの幅 */
	float: left;
	padding: 7px 0 6px 3px; /* 日付エリアのパディング（上右下左） */
	line-height: 120%;
}

/* --- 本文エリア --- */
section.update dd {
	margin: 0;
	padding: 7px 3px 6px 6.6em; /* 本文エリアのパディング（上右下左） */
	border-bottom: 1px #c0c0c0 dotted; /* 本文エリア下境界線 */
	line-height: 120%;
}

/* --- clearfix --- */
.clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearFix {
	min-height: 1px;
}
